/**
 * URL Scraper Field for Symphony
 *
 * @authors: Dave Allen, James Lambie @ We Are Daddy
 * @source: http://github.com/jimlambie/urlscraper
 */


.field-urlscraper label {
	margin-bottom: 2px;
}

.field-urlscraper div.frame {
	display: none;
}

.field-urlscraper div.frame.open {
	display: block;
}

.field-urlscraper .frame .content.loading {
	overflow: hidden;
	height: 50px;
	background-image: url(images/loading_dark.gif) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.dark.editable.searchable.duplicator.empty.collapsible {
	background: #333;
	margin: 20px 0 0 0;
}

.field-urlscraper p.label {
	margin: 0 0 5px;
}

.bx-loading {
	display: none;
}

img.slider_image {
	cursor: pointer;
}

img.slider_image.selected {
	border: 4px solid greenyellow;
	margin: 3px;
	width: 95%;
}